* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  position: relative;
}
body {
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-image: url(../img/download.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.cards {
  background: rgba(0, 225, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(0, 225, 255, 0.19);
  width: 80%;
  min-height: 200px;
  margin: 10rem auto;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.cards h2 {
  text-shadow: 0 0 10px;
}
.title {
  width: 100%;
  height: 4rem;
}
.title h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 15px;
  text-shadow: 0 0 20px;
  animation: animated 2s infinite linear;
}
.team-member {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 30px;
  width: fit-content;
  height: fit-content;
}
.member {
  max-width: 100px;
  max-width: fit-content;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  height: 100%;
}
.name h2 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(2, 11, 48);
}
.description p {
  font-size: 15px;
  color: #000;
  text-align: center;
  text-transform: lowercase;
  text-overflow: ellipsis;
}
.image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@keyframes animated {
  0%,
  100% {
    color: deeppink;
  }
  25% {
    color: deepskyblue;
  }
  50% {
    color: lawngreen;
  }
  75% {
    color: yellow;
  }
}
@media (max-width: 992px) {
  body {
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
  }
  .container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cards {
    width: 100%;
    min-height: 200px;
    margin: 1px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .title {
    height: 100%;
    width: 100%;
    margin-left: 120px;
  }
  .title h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
  }
  .team-member {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    width: 100%;
    padding: 1.5rem;
  }
  .member {
    width: 70%;
    max-width: fit-content;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
  }
  .name h2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(2, 11, 48);
    width: 80%;
  }
  .description p {
    font-size: 15px;
    color: #000;
    text-align: center;
    text-transform: lowercase;
    text-overflow: ellipsis;
    width: 80%;
  }
  .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .image {
    width: 80%;
    height: 50px;
    border-radius: 50%;
  }
}
@media (min-width: 768px) {
  .cards {
    width: 80%;
  }
}
